<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">{{titulo}}</a>
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <!-- +++++-->

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link"  routerLink="noticiaMexico" >BBC News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="noticiaTrump" >TRUMP News</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li> -->
                
            </ul>
           
        </div>



    </div>
</nav>
